@{
    ViewBag.Title = "Home";
}

<div class="container">
    <h4>
        Welcome to MicroCredentials
    </h4>
    
    <p data-bind="visible: metaMaskInstalled()" style="display: none;">
        Not currently a member? Please click the relevent registration button below to start using the MicroCredential system.
        <br /><br />
        <button type="button" class="btn btn-primary btn-lg" data-bind="click: routeToAgencyRegister">Register as an Agency</button>
        <button type="button" class="btn btn-primary btn-lg" data-bind="click: routeToUserRegister">Register as an End User</button>
        <br /><br />
        If you already a member click the login button below to start using the system
        <br /><br />
        <button type="button" class="btn btn-primary btn-lg">Login</button>
    </p>
    
    <p data-bind="visible: !metaMaskInstalled()" style="display: none;">
        To use MicroCredentials you require the MetaMask chrome extension to be installed.
    </p>
</div>


<br />

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Website/Constants.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/Api/CommonApi.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/Website/ViewModel/HomeViewModel.js")"></script>

    <script>
        $(function (viewModel) {
            // Checking if Web3 has been injected by the browser (Mist/MetaMask)
            var metaMaskCheckCount = 0;
            var metaMaskInterval = setInterval(function () {
                if (typeof web3 !== 'undefined') {
                    clearInterval(metaMaskInterval);

                    // Use Mist/MetaMask's provider
                    web3js = new Web3(web3.currentProvider);
                    viewModel.metaMaskActive();
                } else if (metaMaskCheckCount === 5) {
                    console.log('No web3? You should consider trying MetaMask!');
                    clearInterval(metaMaskInterval);
                }

                metaMaskCheckCount++;
            }, 100);

            ko.applyBindings(viewModel);
        }(MICROCREDENTIALS.homeViewModel));
    </script>
}


